doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title keamanan

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 Nama Kelompok
          li Daniel Reinhard Simanjuntak
          li Aron 
          li Guntur
          li Christoper
      
      section
        h2 Kriptografi
          h3 Keamanan komputer

      section
        h1 Pendahuluan :
          h4 Kriptografi adalah suatu ilmu yang mempelajari bagaimana cara menjaga agar data  atau pesan tetap aman saat dikirimkan, dari pengirim ke penerima tanpa mengalami gangguan dari pihak ketiga 


      section
        h2 Images
        img(src="images/bespoke-logo.jpg")

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-bullets">bespoke-bullets</a>
        ul.build.build-items
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.
      section
        h2.bullet Just the beginning…
        ul.build.build-items
          li Edit <a href="https://pugjs.org">Pug (formerly Jade)</a> markup in <em class="path">src/index.pug</em>
          li Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em>
          li Edit JavaScript in <em class="path">src/scripts/main.js</em>
        br
        ul.build
          li
            strong Enjoy! :)
            a(href='https://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
